<div id="body" class="container-fluid">
    <button ng-controller="returnController" type="button" ng-class="{ 'btn-dark': dark, 'btn-white': !dark }" class="btn mx-3 shadow-sm">
        <a class="text-decoration-none" ng-class="{ 'text-white': dark, 'text-dark': !dark }" ng-click="goToHome()" href="#"><ion-icon name="arrow-back-outline"></ion-icon>
            Back</a>
    </button>
    <div class="row">
        <div class="container col-md-4 my-3" ng-controller="countryController">
            <img class="shadow w-100" src="{{ selectedCountry.flags.png }}" />
        </div>
        <div class="container col-md-7 my-3" ng-controller="countryController">
            <div class="row">
                <h2 class="mb-3">{{ selectedCountry.name }}</h2>
                <div class="col-md-5">
                    <p class="m-0"><span class="fw-bold">Native Name:</span> {{ selectedCountry.nativeName }}</p>
                    <p class="m-0"><span class="fw-bold">Population:</span> {{ selectedCountry.population | number }}</p>
                    <p class="m-0"><span class="fw-bold">Region:</span> {{ selectedCountry.region }}</p>
                    <p class="m-0"><span class="fw-bold">Sub Region:</span> {{ selectedCountry.subregion }}</p>
                    <p class="m-0"><span class="fw-bold">Capital:</span> {{ selectedCountry.capital }}</p>
                </div>
                <div class="col-md-5">
                    <p class="m-0"><span class="fw-bold">Top Level Domains:</span>
                        <span ng-repeat="domain in selectedCountry.topLevelDomain">{{ domain }}{{$last ? '' : ', '}}</span>
                    </p>
                    <p class="m-0"><span class="fw-bold">Currencies:</span>
                        <span ng-repeat="currency in selectedCountry.currencies">{{ currency.name }}{{$last ? '' : ', '}}</span>
                    </p>
                    <p class="m-0"><span class="fw-bold">Languages:</span>
                        <span ng-repeat="language in selectedCountry.languages">{{ language.name }}{{$last ? '' : ', '}}</span>
                    </p>
                </div>
                <p class="m-0"><span class="fw-bold">Borders:</span>
                    <button ng-class="{ 'btn-dark': dark, 'btn-light': !dark }" class="btn shadow-sm m-1" ng-repeat="border in selectedCountry.borders" ng-click="goToCountry(border)">{{ getCountryName(border) }}</button>
                </p>
            </div>
        </div>
    </div>
</div>
